span {
    font-size: 6rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    padding: 2%;
    background-color: white;
    box-shadow: 10px 10px 20px rgb(219, 219, 219);
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
}

main, main * {
    border-radius: 10px;
}

.map-title {
    text-decoration: underline;
    font-weight: 200;
    font-size: 4rem;
}

main img {
    width: auto;
    max-width: 80vw;
    height: auto;
    margin: 2% 0;
}

.measure-container {
    display: flex;
    align-items: center;
    height: 10vh;
    margin-top: 5vh;
}

.measure {
    width: 50vw;
    height: 10vh;
    margin: 10vh 1vw;
    border: 1pt solid black;
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(255,18,18,1) 50%, rgba(0,0,0,1) 100%);
}







