main {
    margin: 5vh 0;
}

.ong-container {
    background-color: rgb(249, 253, 247);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 40vh;
    padding: 1%;
    margin: 5vh 0;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(219, 219, 219);
    transition-duration: 0.5s;
}

.ong-container:hover {
    transform: scale(1.05);
}

.illustration {
    max-width: 25%; 
}

.illustration img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(219, 219, 219);
}

.description {
    display: flex;
    align-items: center;
    max-width: 50%;
    height: 100%;
}

.description p {
    text-indent: 2.5rem;
    text-align: left;
    font-size: 2.5rem;
}

.illustration,
.description {
    margin-right: 2%;
}

.contato {
    display: flex;
    align-items: center;
    max-width: 20%;
    height: 100%;
    padding-left: 2%;
    border-left: 1pt solid rgba(0, 0, 0, 0.2);
}

.contato a {
    margin: auto;
    font-size: 3.5rem;
    transition-duration: 0.2s;
}

.contato a:hover {
    color: green;
    font-size: 3.6rem;
}
