*{
    margin: 0;
    padding: 0;
}

.div-div1{
    text-align: center;
}

#img-img1{
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    opacity: 0.9;
}

#img-img1:hover{
    
    cursor: pointer;
    opacity: 1;
}

.text-p1{
    margin: 1% 1% 2% 1%;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}

.text-p2{
    margin: 1% 8% 3% 8%;
    font-size: 20px;
    font-family: Calibri;
}

.ul-ul1:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
}