main {
  position: relative;
  height: 5%;
  margin-top: 2%;
  margin-bottom: 0;
}

main img {
  border-radius: 10px;
}

.responsivo {
  max-width: 1400px;
  width: 100%;
  height: auto;
}
.responsivo img {
  max-width: 1400px; /* Máximo da largura da imagem */
  width: 100%;
  max-height: 700px; /* Máximo da altura da imagem */
  min-height: auto; /* Mínimo da altura, por padrão “auto” */
  background-size: 100%;
  background-repeat: no-repeat;
}


main button {
  border: rgb(175, 25, 25) solid 2px;
  background-color: rgb(175, 25, 25);
  width: 15%;
  height: 5%;
  right: 10%;
  bottom: 20%;
  font-size: 150%;
  font-family: "IBM Plex Sans", sans-serif;
  position: absolute;
  z-index: 999;
}

main button a {
  color: white;
}

main h1 {
  text-align: center;
  padding: 3%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

main topnav {
  font-family: "IBM Plex Sans", sans-serif;
  position: absolute;
  z-index: 999;
  margin-left: 5%;
  left: 0;
  margin-top: 40%;
  width: 40%;
  height: 20%;
}

#a-1 {
  font-size: 150%;
  color: white;
}

.Sec-1 {
  max-width: 1400px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  height: auto;
}

.Art-1 {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.Art-1 h1 {
  margin-left: 31%;
  text-align: center;
  width: 40%;
  font-size: 300%;
  border-left: rgb(175, 25, 25) solid 4px;
  border-right: rgb(175, 25, 25) solid 4px;
  margin-bottom: 10%;
}

.Art-1 ul {
  height: auto;
  width: 100%;
  max-width: 980px;
  position: relative;
  font-size: 100%;
  list-style: none;
  margin-left: 1%;
}

.a-2,
.Span-1 {
  text-align: center;
  width: 100%;
  margin: 3%;
  font-size: 150%;
  color: rgb(175, 25, 25);
}

.Art-1 span {
  border-bottom: rgb(175, 25, 25) 3px solid;
}

.Art-1 ul li {
  display: inline-block;
}

.Art-1 ul li {
  max-width: 250px;
  box-shadow: 10px 10px 20px rgb(219, 219, 219);
  border: rgb(175, 25, 25, 0.6) solid 4px;
  text-align: left;
  margin-right: 3%;
  padding: 3%;
  background-color: rgba(220, 220, 220, 0.658);
  width: 100%;
  height: 60%;
}

.responsivo {
  max-width: 1400px;
  width: 100%;
  height: auto;
}
.responsivo img {
  max-width: 1400px; /* Máximo da largura da imagem */
  width: 100%;
  max-height: 700px; /* Máximo da altura da imagem */
  min-height: auto; /* Mínimo da altura, por padrão “auto” */
  background-size: 100%;
  background-repeat: no-repeat;
}

.Art-1 ul li img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.Sec-2 {
  max-width: 1400px;
  width: 100%;
  height: auto;
}

.Art-2 {
  max-width: 1400px;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

.Art-2 img {
  max-width: 700px;
  width: 48%;
  border: rgb(0, 0, 0, 0.5) solid 4px;
}

.Art-2 h3 {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 400%;
  color: rgb(175, 25, 25);
}

.Art-2 div {
  float: right;
  width: 50%;
}

.Art-2 p {
  color: white;
  margin-top: 10%;
  margin-left: 15%;
  font-size: 200%;
  width: 80%;
}

.Art-2 button {
  border: rgb(175, 25, 25) solid 2px;
  background-color: rgb(175, 25, 25);
  width: 30%;
  height: 25%;
  padding: 2%;
  margin-top: 5%;
  font-size: 150%;
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 33%;
  z-index: 999;
}

.Art-2 button a {
  color: white;
}

.Sec-3 {
  max-width: 1400px;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  height: auto;
}

.Art-3 {
  width: 100%;
  height: 100%;
}

.Art-3 h1 {
  text-align: center;
  margin-left: 35%;
  width: 30%;
  font-size: 300%;
  border-left: rgb(175, 25, 25) solid 4px;
  border-right: rgb(175, 25, 25) solid 4px;
  margin-bottom: 10%;
}

.Art-3 a {
  font-size: 100%;
}

.Art-3 ul li {
  max-width: 980px;
  box-shadow: rgb(0, 0, 0, 0.9);
  border: rgb(175, 25, 25, 0.5) solid 2px;
  margin-left: 10%;
  height: 100%;
  width: 20%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.Art-3 ul {
  height: auto;
  width: 100%;
}

.Art-3 ul li {
  display: inline-block;
}

.Art-3 ul li img {
  width: 70%;
  margin-top: 50%;
  margin-bottom: 50%;
}

.Art-3 ul li h2 {
  color: rgb(175, 25, 25);
  margin-bottom: 30%;
}

.Art-3 ul li p {
  font-size: 200%;
  margin-bottom: 50%;
}

/* HOVER */

.Art-2 button:hover {
  border: white 2px solid;
}
main button:hover {
  border: white 2px solid;
}

#a-1:hover {
  border-bottom: white 2px solid;
}

topnav h1:hover {
  background-color: rgb(0, 0, 0, 0.7);
}

.Art-1 ul li:hover {
  transition-duration: 0.3s;
  border: rgb(175, 25, 25, 1) solid 4px;
}

.Art-1 .a-2:hover {
  border-bottom: rgb(250, 57, 57) 2px solid;
}
