* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 249, 249);
    font-family: 'IBM Plex Sans', sans-serif;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
}

html, body {
    max-width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

span {
    font-size: 6rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

nav {
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1pt solid #E8170C;
}

nav h1 {
    font-size: 8rem;
    text-align: left;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    list-style: none;
}

nav ul li {
    font-size: 4rem;
    transition-duration: 0.2s;
}

nav ul li > a {
    color: black;
    position: relative;
    transition-duration: 0.2s;
}

li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E8170C;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
}

li > a:hover {
    font-size: 4.2rem;
}

li > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    padding: 2%;
    background-color: white;
    box-shadow: 10px 10px 20px rgb(219, 219, 219);
}

main, main * {
    border-radius: 10px;
}

.map-title {
    text-decoration: underline;
    font-weight: 200;
    font-size: 4rem;
}

main img {
    width: auto;
    max-width: 80vw;
    height: auto;
    margin: 2% 0;
}

.measure-container {
    display: flex;
    align-items: center;
    height: 10vh;
    margin-top: 5vh;
}

.measure {
    width: 50vw;
    height: 10vh;
    margin: 10vh 1vw;
    border: 1pt solid black;
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(255,18,18,1) 50%, rgba(0,0,0,1) 100%);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    border-top: 1pt solid #E8170C;
}

footer p {
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
}





