@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 249, 249);
    font-family: 'IBM Plex Sans', sans-serif;
}

html, body {
    max-width: 100vw;
    min-height: 100vh;
}

#h1-top{
    font-size: 6rem;
    text-align: left;
    transition-duration: 0.3s;
}

#h1-top:hover{
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1pt solid #E8170C;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
}       

nav ul {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    list-style: none;
}

nav ul li {
    font-size: 4rem;
    transition-duration: 0.2s;
}

nav ul li > a {
    position: relative;
    transition-duration: 0.2s;
}

nav li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E8170C;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
}

nav li > a:hover {
    font-size: 4.5rem;
}

nav li > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

#footer-div{
    text-align: center;
    border-top: 1pt solid #E8170C;
    width: 100%;
}

#footer-p1{
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
}

#footer-p2{
    font-size: 14px;
    margin-bottom: 10px;
}

#footer-p3{
    font-size: 14px;
    margin-bottom: 30px;
}

@media(max-width:1200px) {
    html {
        font-size: 50%;
    }
}

@media(max-width:900px) {
    html {
        font-size: 40%;
    }
}