* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 249, 249);
    font-family: 'IBM Plex Sans', sans-serif;
}

html, body {
    max-width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1pt solid #E8170C;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
}

nav h1 {
    font-size: 8rem;
    text-align: left;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    list-style: none;
}

nav ul li {
    font-size: 4rem;
    transition-duration: 0.2s;
}

nav ul li > a {
    position: relative;
    transition-duration: 0.2s;
}

li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E8170C;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
}

li > a:hover {
    font-size: 4.2rem;
}

li > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    border-top: 1pt solid #E8170C;
}

footer p {
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
}