*{
    margin: 0;
    padding: 0;
}

#header_top{
    background-color: red;
    color: white;
    text-align: center;
    padding: 7px;
}

#h1-top{
    font-family: Calibri;
}

.div-div1{
    text-align: center;
}

#img-img1{
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    opacity: 0.9;
}

#img-img1:hover{
    
    cursor: pointer;
    opacity: 1;
}

.text-p1{
    margin: 1% 1% 2% 1%;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}

.text-p2{
    margin: 1% 8% 3% 8%;
    font-size: 20px;
    font-family: Calibri;
}

li{display: none;}

ul:hover{
    cursor: pointer;
    
}

ul:hover li{
    display: block;
}

.ul-ul1:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}